<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>SoundCloud Backbone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='main.css'>
</head>
<body>
  <nav>Test</nav>
  <main>
  <script id='songsTemplate' type='text/template'>
      <div class='genre'><%= title %></div>
      <audio src='<%= stream_url %>?client_id=8ec20fb5cf443b6a8370954c522149c3' controls='controlsß'>Browser suppport is lacking, honey</audio>
      <a href='<%= permalink_url %>'>Listen</a>
      <br/>
  </script>
  <div id='songs'></div>
  </main>
  <footer>
  <p>Hi.</p>
  </footer>
  <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
  <script src='http://underscorejs.org/underscore.js'></script>
  <script src='http://backbonejs.org/backbone.js'></script>
  <script src='main.js'></script>
</body>
</html>

<!--
  
  Client ID: 8ec20fb5cf443b6a8370954c522149c3
  Client Secret: 8231909b8d3430b1e4be09f07ad45214 -->