<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>SoundCloud Backbone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='main.css'>
</head>
<body>

  <!-- List of songs -->
  <script id='songsListTemplate' type='text/template'>
  <li>
    <a href='#tracks/<%= id %>'><%= title %></a>
  </li>
  </script>
  <ul id='songsList' class='list-reset'></ul>


  <!-- For individual songs -->
  <script id='songTemplate' type='text/template'>
    <audio controls='controls' autoplay>
      Your browser does not support the <code>audio</code> element.
      <source src='<%= stream_url%>?client_id=8ec20fb5cf443b6a8370954c522149c3' type='audio/mp3'>
    </audio>
  </script>
  <div id='song'></div>

  <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
  <script src='http://underscorejs.org/underscore.js'></script>
  <script src='http://backbonejs.org/backbone.js'></script>
  <script src='models/song.js'></script>
  <script src='collections/songs.js'></script>
  <script src='views/songslist.js'></script>
  <script src='views/songview.js'></script>
  <script src='router.js'></script>
  <script src='app.js'></script>
</body>
</html>